* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}

.background-overlay {
    position: relative;
    background: url('../fundologin.png') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    z-index: 1; /* Fica atrás dos elementos interativos */
}

.background-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escurecido */
    z-index: -1; /* Definido para ficar atrás do conteúdo interativo */
}

header {
    background-color: rgba(0, 0, 0, 1);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: relative;
    z-index: 10;
}

.logo {
    height: 60px;
    margin-left: 10px;
}

.header-right {
    display: flex;
    align-items: center;
}

.menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    cursor: pointer;
    margin-right: 20px;
}

.menu-icon .line {
    width: 30px;
    height: 3px;
    background-color: white;
}

#profile-image {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 10px;
}

.menu-dropdown {
    display: none;
    position: absolute;
    top: 70px;
    right: 0;
    background-color: black;
    width: 150px;
    z-index: 11;
}

.menu-dropdown a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}

.menu-dropdown a:hover {
    background-color: #333;
}

#welcome-text {
    text-align: center;
    color: white;
    font-size: 24px;
    margin: 20px 0;
    position: relative;
    z-index: 10;
}

#text {
    text-align: center;
    color: white;
    font-size: 13px;
    margin: 10px 0;
    position: relative;
    z-index: 10;
}

.brindes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    position: relative;
    z-index: 10;
}

.brinde-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 150px;
}

.brinde-item p {
    color: white;
    font-size: 16px;
    margin-top: 10px;
}

.brinde-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.brinde-item img:hover {
    transform: scale(1.05);
}
